{% extends 'base.html' %}
{% block content %}
<h1>Catálogo</h1>
<div class="row">
    {% for p in productos %}
    <div class="col-md-4 mb-3">
        <div class="card">
            {% if p.imagen %}<img src="{{ p.imagen.url }}" class="card-img-top" style="height:200px;object-fit:cover">{% endif %}
            <div class="card-body">
                <h5>{{ p.nombre }}</h5>
                <p>${{ p.precio_base }}</p>
                <a href="{% url 'producto_detalle' p.id %}" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}